<div class="container" id="app">
    <div>
        <label>Password</label>
        <input id="pwd" class="form-control" type="password" oninput="check()">
    </div>
    <div class="mt-4">
        <h4>Password Quality: <span id="passwordquality"></span></h4>
    </div>
</div>
<script>
    function check() {
        let password = document.querySelector("#pwd").value;
        if (password.length > 8) {
            document.querySelector("#passwordquality").innerHTML= "Good";
        } else {
            document.querySelector("#passwordquality").innerHTML= "Bad";
        }
    }
</script>