<div class="container">
  <h2 class="mt-4">Ihr Einkauswagen</h2>

  <% if(req.session.basket && req.session.basket.length> 0){ %>
  <table class="table mt-4">
    <% req.session.basket.forEach(function(product,index){ %>
    <tr>
      <td class=""><%= product.name %> <BR /></td>
      <td class=""><%= product.price %> &euro;</td>
      <td class="">
        <a class="standard-btn" href="/shoppingbasket/remove/<%= index %>"
          >remove</a
        >
      </td>
    </tr>
    <% }) %>
  </table>
  <div class="mb-4">
    <a class="brown-button" href="/shop">Order more Cafe</a>
    <a class="brown-button" href="#">Finish Order</a>
  </div>
  <% } else{ %>
  <p>Shopping Basket is empty.</p>
  <div class="mb-4">
    <a class="btn btn-primary" href="/shop">Go to Shop</a>
  </div>
  <% } %>
</div>
