<!DOCTYPE html>
<html>
  <head>
    <title>CafeAroma</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <%/* If you want to discourage search engines from indexing this site,
    uncomment the following line: */%> <%/*
    <meta name="robots" content="noindex" />
    */%>

    <link rel="stylesheet" href="/styles/importer.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/dependencies/bootstrap-green.min.css" />
    <link rel="stylesheet" href="/dependencies/vuetify.min.css" />
    <link
    rel="stylesheet"
    href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
  />

        
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Latest compiled and minified CSS -->

    <!--CAROUSEL-->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <!--icons-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!--NEU-->
    <link rel="icon" href="../../../../favicon.ico" />
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="form-validation.css" rel="stylesheet" /> -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <!--Navnar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container">
          <!--Logo -->
          <a class="navbar-brand fs-4" href="/"
            ><img id="logo" src="/images/Logo.png" alt="Logo"
          /></a>
          <!--Toggle BTN -->
          <button
            class="navbar-toggler shadow-none border-0"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--Sidebar -->
          <div
            class="sidebar offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <!--SideBar Header-->
            <div class="offcanvas-header text-white border-bottom">
              <h5
                class="cafearoma"
                style="font-size: 25px"
                id="offcanvasNavbarLabel"
              >
                CafeAroma
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white shadow-none"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>

            <!--SideBar Body-->

            <% if(req.me|| !req.me ) { %>

            <div
              class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0"
            >
              <ul
                class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3"
              >
                <li>
                  <a class="" href="/cafe">Cafe</a>
                </li>
                <li>
                  <a class="" href="/shopping">Shop</a>
                </li>
                <li>
                  <a class="" href="/about">About</a>
                </li>
                <% if(req.me) { %> <% if(req.me.isSuperAdmin) { %>
                <li>
                  <a class="" href="/admin">Admin</a>
                </li>
                <% } %>
                <li>
                  <a
                    class="bx bx-cart"
                    id="cart-icon"
                    href="http://localhost:1337/shopping#/basket"
                  ></a>
                  <!-- <a href="/shop" class="bx bx-cart" id="cart-icon"></a> -->
                </li>

                <% } %> 
                <!-- <% console.log('WARENKORB', req.session.basket) %> -->
              </ul>

              <!--Login / SIgn up-->

              <!--Login / SIgn up-->
              <% if (!req.me) { %>
              <div
                class="d-flex flex-lg-row justify-content-center align-items-center gap-3"
              >
                <div class="nav-item dropdown d-none d-sm-block">
                  <a href="/login" class="text-white">Login</a>
                  <a
                    href="/signup"
                    class="text-white text-decoration-none px-3 py-1 rounded-4"
                    style="background-color: #604941"
                    >Signup</a
                  >
                </div>
              </div>
              <% } else { %>
              <!-- Add any additional content or links you want to show when the user is logged in -->
              <div
                class="d-flex flex-lg-row justify-content-center align-items-center gap-3">
              <div class="dropdown">
                <a
                  class="btn dropdown-toggle "
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  data-display="static" 
                  aria-expanded="false"
                >
                  Account
                </a>
                <div class="dropdown-menu" aria-labelledby="header-account-menu-link">
                  <a class="dropdown-item" href="/account">Account</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </div>
            </div>

                
              <% } %> <% } %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%- body %>
    <footer class="footer-container">
      <div class="footer-item">
        CafeAroma<BR /> Aromastr. 8<BR /> 78224 Singen<BR />
        <p class="kontakt">
          Telefon 0049 7735 231200<BR /> cafearoma@singen.de<BR />
        </p>
      </div>
      <div class="footer-item">
        <ul>
          <li>2023 CafeAroma. All rights reserved.</li>
        </ul>
      </div>
    </footer>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/vue.global.js"></script>
    <script src="/dependencies/bootstrap.bundle.min.js"></script>
    <script src="/dependencies/vue-router.global.js"></script>
    <script src="/dependencies/vuetify.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
