<div id="login">
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Einloggen</h1>
    <div style="max-width: 450px" class="mx-auto">
      <hr />
      <form
        id="loginForm"
        action="login"
        method="POST"
        onsubmit="return validateLoginForm()"
      >
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <div class="form-group">
          <input
            type="email"
            name="emailAddress"
            class="form-control"
            placeholder="Email address"
            autocomplete="email"
            focus-first
          />
          <div class="invalid-feedback">
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
          </div>
        </div>
        <div class="form-group">
          <input
            name="password"
            type="password"
            class="form-control"
            placeholder="Password"
            autocomplete="current-password"
          />
          <div class="invalid-feedback">Bitte geben Sie Ihr Passwort ein.</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark btn-lg btn-block">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>

  <script>
    function validateLoginForm() {
      var emailInput = document.getElementsByName("emailAddress")[0].value;
      var passwordInput = document.getElementsByName("password")[0].value;

      // Überprüfen, ob E-Mail und Passwort leer sind
      if (emailInput.trim() === "" || passwordInput.trim() === "") {
        alert("Geben Sie E-Mail und Passwort ein.");
        return false; // Verhindert das Absenden des Formulars
      }

      // Wenn E-Mail und Passwort nicht leer sind, kann das Formular abgesendet werden
      return true;
    }
  </script>
</div>
