<div id="signup">
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Erstelle einen Account</h1>
    <div style="max-width: 450px;" class="mx-auto" >
      <p class="text-center">Lass uns starten! Werde ein Member bei CafeAroma kostenlos!</p>
      <hr/>
      <form action="signup" method="POST">
        <!-- Full name input -->
        <div class="form-group">
          <label for="full-name">Voller Name</label>
          <input 
          class="form-control"
           id="full-name" 
           name="fullName" 
           type="text"  
           placeholder="Max Mustermann" 
           autocomplete="name" 
           focus-first>
          <div class="invalid-feedback">Bitte gebe deinen vollen Namen ein.</div>
        </div>
        <!-- email input -->
        <div class="form-group">
          <label for="email-address">Email address</label>
          <input 
          class="form-control" 
          id="emaila-address" 
          name="emailAddress" 
          type="email"  
          placeholder="max@example.com" 
          autocomplete="email">
          <div class="invalid-feedback">Bitte gebe eine gültige E-Mail an.</div>
        </div>
        <!-- password input -->
        <div class="form-group">
          <label for="password">Wähle Passwort</label>
          <input 
          class="form-control"
           id="password" 
           name="password" 
           type="password"  
           placeholder="••••••••" 
           autocomplete="new-password">
          <div class="invalid-feedback">Bitte gib ein Passwort ein</div>
        </div>
        <!-- confirm password  -->
        <div class="form-group">
          <label for="confirm-password">Bestätige Passwort</label>
          <input class="form-control" id="confirm-password" name="confirmPassword" type="password"  placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback">Deine Passwörter stimmen nicht überein.</div>
        </div>
       
        <!-- submit button -->
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Erstelle Account</button>
        </div>
      <p class="text-center">Du hast schon einen Account? <a href="/login">Sign in</a></p>
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<!-- Vue Password Computed Component Script -->
<script>
  // Inhalt von password-computed.ejs hier einfügen
</script>

<!-- Vue Signum Component Simple Script -->
<script type="module">
  // Inhalt von Signum-component-simple.ejs hier einfügen
</script>



