<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row"style="margin-top: 7em;">
       <div class="col-md-8">
         <div class="welcome-text">
            Genießen Sie täglich den Geschmack unseres Kaffees: CafeAroma vereint das Beste des 
            italienischen Know-hows mit dem Feinsten aus aller Welt in jeder Tasse. Kosten Sie Ihren Kaffee genau so,
             wie Sie ihn mögen, und feiern Sie die italienische Lebensart!
            Wählen Sie den Kaffee, der am besten zu Ihren Bedürfnissen passt: frisch geröstet und gemahlen, ganze Bohnen. CafeAroma hat sich darauf spezialisiert, die besten Mischungen von Kaffeebohnen aus aller Welt zu kreieren. Wir lieben Kaffee, und wir ehren ihn durch Innovation und Nachhaltigkeit. Entdecken Sie das reiche, aromatische Universum von CafeAroma.
         </div>
       </div>
      <div class="col-6 col-md-4">
        <img class="abou1" , style=" width: 80%;height: 70%;" src="/images/about1.jpg"/>
      </div>
    </div>

    

    <div class="row" >
        <div class="col-6 col-md-4">
            <img class="about3" , style=" width: 100%;" src="/images/about3.jpg"/>
        </div>
            <div class="col-md-8">
                <div class="text-brown">
                    <h2 class="Bold-Title" >A sip of joy every day</h2>
                    <div>
                        Mit einer einzigen Tasse Kaffee können Sie den einzigartigen italienischen Lebensstil genießen, voller Leidenschaft, Kreativität und Liebe zum Detail. In jedem Schluck können Sie die Freude am italienischen Leben spüren. DANN KNOPF #MEHR ENTDECKEN, um zur Shop-Seite zu gelangen.
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <h2 class="Bold-Title" style="text-align: center; font-size: 40px;" >Unsere Werte</h2>
           <div>Mit einer einzigen Tasse Kaffee können Sie den einzigartigen italienischen Lebensstil genießen, voller Leidenschaft, Kreativität und Liebe zum Detail. In jedem Schluck können Sie die Freude am italienischen Leben spüren. DANN KNOPF #MEHR ENTDECKEN, um zur Shop-Seite zu gelangen.</div>
         <h1 class="Bold-Title" style=" font-size: 20px;" >Entdecken Sie die Schönheit unseres Planeten... Bohne für Bohne:</h2>
            <div>CafeAroma-Mischungen vereinen das Beste aus ihren hochwertigen Herkünften in einer einzigen Tasse. Dies sind Produkte, die die höchsten Zertifizierungen in ökologischen und nachhaltigen Kreisen erhalten haben.</div>
    </div>



    
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="text-brown">
        <div class="row"style="margin-top: 5em;">
            <div class="col-6 col-md-4">
                <h2 class="Bold-Title" style=" font-size: 35px;" >LEIDENSCHAFT FÜR EXZELLENZ </h2>
                <div>Wir glauben, dass selbst Exzellenz verbessert werden kann. Wir haben Leidenschaft für unsere Produkte und Dienstleistungen, immer darauf bedacht, perfekte Qualität zu gewährleisten, unabhängig von der Rolle, die wir spielen. Alles, was wir tun, tun wir mit Hingabe, um alle Erwartungen zu übertreffen. Wir streben danach, außergewöhnliche Erlebnisse für unsere Kunden, Verbraucher und alle Menschen zu schaffen, denn Menschen sind unsere oberste Priorität.</div>
            </div>
            <div class="col-6 col-md-4">
                <h2 class="Bold-Title" style=" font-size: 35px;" >VERANTWORTUNG</h2>
                <div>Wir sind verantwortungsbewusste Kaffeehersteller. Im Streben nach verantwortungsbewusstem wirtschaftlichem Wachstum setzen wir alles daran, Menschen und den Planeten zu schützen. Wir arbeiten eng mit Personen innerhalb der Gruppe und unseren externen Partnern zusammen. Wir übernehmen Verantwortung für unsere Handlungen und deren Auswirkungen.</div>
            </div>
            <div class="col-6 col-md-4">
                <h2 class="Bold-Title" style=" font-size: 35px;" >EINFALLSREICHTUM</h2>
                <div>Wir hören nie auf, nach mehr zu streben. Mit Blick auf die Zukunft lernen wir aus unseren Fehlern, um eine bessere Zukunft zu schaffen. Wir sind flexibel, anpassungsfähig und begegnen neuen Situationen mit Unparteilichkeit und Offenheit. Mit unserem Unternehmergeist überwinden wir Herausforderungen, sind mutig, setzen ehrgeizige Ziele und geben niemals auf.</div>
            </div>
    </div>
</div>


    <div class="row"style="margin-top: 5em;">
        <div class="col-md-6">
                <div class="italien" style=" font-weight: bold; font-size: 30px;"> CafeAroma</div>
                    <div>Jeden Morgen eine bessere Welt erwecken. Respekt für Menschen und die Umwelt ist der reinste Ausdruck des Engagements unserer globalen Kaffee-Familie, unsere Welt jeden Tag besser zu machen. Wir bieten Produkte von höchster Qualität, die durch ein nachhaltiges Modell auf Innovation, Leidenschaft und Fachkenntnissen basieren.</div>
                </div>
        <div class="col-6 col-md-4" style="margin-left: 7em;">
            <img style=" width: 130%;" src="/images/cafebeans.png"/>
        </div>
      </div>
  
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-6">
          <h2 class="Bold-Title" style=" font-size: 30px;" >Unsere Mission</h2>
              <div>Wir setzen uns dafür ein, das bestmögliche Kaffeeerlebnis in all seinen Formen zu gewährleisten und einen Moment der Freude mit dem perfekten Produkt zu jeder Tageszeit zu bieten. Das Ziel unserer Gruppe ist es, nachhaltigen Mehrwert für Aktionäre, Mitarbeiter, Verbraucher und Gemeinschaften durch eine Kombination von Wettbewerbsfähigkeit mit sozialer und ökologischer Verantwortung zu schaffen. Wir gewährleisten, dass Produkte höchster Qualität bei gleichzeitiger Bewahrung von Unabhängigkeit und ethischen Standards vorhanden sind.</div>
      </div>
      <div class="col-6">
        <h2 class="Bold-Title" style=" font-size: 30px;" >Herangehensweise</h2>
            <div>Wir haben Innovation zum Markenzeichen unserer unternehmerischen Aktivitäten gemacht und gewährleisten das bestmögliche Kaffeeerlebnis in all seinen Formen. Vom Instinkt, der den frühen Erfolg des Unternehmens geprägt hat – der Kaffee-Mischung – bis zur Entwicklung innovativer Verpackungslösungen; vom ersten Espresso, der im Weltraum konsumiert wurde, bis zu Dutzenden von industriellen Patenten: CafeAroma hat die Kaffeekultur immer mit Mut, Energie und Zuverlässigkeit revolutioniert, Traditionen modernisiert, um Markt- und Verbraucherbedürfnisse vorherzusehen. Diese Herangehensweise durchdringt alle Marken der Gruppe und schafft eine gemeinsame Kultur basierend auf verantwortungsbewusster Innovation, Leidenschaft, Integrität und Fachkenntnissen, die das Angebot von hochwertigem Kaffee leitet.</div>
      </div>    
    </div>
</div>



