<!-- views/pages/admin.ejs -->
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<div class="container" >
    <h2 class="Bold-Title" style="text-align: center; font-size: 40px;" >You are now Admin</h2>
        <h4 class="card-header" style="text-align: center; font-size: 30px;">
            Select One:
        </h4>
        <div class="card-body text-center container" >
            <div class="row mt-4" style="justify-content: center;" >
                    <a class="brown-button" href="/product/">Manage Products</a>
            </div>
            <div class="row mt-4" style="justify-content: center;">
                    <a class="brown-button" href="/cafetype/">Manage Cafetypes</a>
            </div>
            <div class="row mt-4" style="justify-content: center;">
                    <a class="brown-button" href="/product/report">Report</a>
            </div>
        </div>
</div>