<!-- views/pages/admin.ejs -->
<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>

<div class="container">
  <h2 class="Bold-Title" style="text-align: center; font-size: 40px">
    Du bist ein Admin
  </h2>
  <h4 class="card-header" style="text-align: center; font-size: 30px">
    Wähle eins:
  </h4>
  <div class="card-body text-center container">
    <div class="row mt-4" style="justify-content: center">
      <a class="brown-button-admin" href="/product/">Produkte verwalten</a>
    </div>
    <div class="row mt-4" style="justify-content: center">
      <a class="brown-button-admin" href="/cafetype/">Kaffetypen verwalten</a>
    </div>
    <div class="row mt-4" style="justify-content: center">
      <a class="brown-button-admin" href="/product/report">Bericht</a>
    </div>
  </div>
</div>
