<div class="container">
  <div class="row" style="">
    <div class="col-md-12" style="margin-top: 5em">
      <h2>7 italienische Kaffeespezialitäten mit Infografik & Rezepten</h2>
    </div>
  </div>

  <div class="row" style="margin-bottom: 5em">
    <p>
      Bei Cafearoma definieren wir unsere neugierige Entdeckerlust durch den
      Mut, über Landesgrenzen hinauszugehen. Wir möchten nicht nur die Vielfalt
      unserer heimischen Kaffeekreationen präsentieren, sondern auch frisch
      geröstete italienische Kaffeespezialitäten vorstellen. Insgesamt bieten
      wir dir hier 7 köstliche Kaffeerezepte direkt aus Italien. Mithilfe
      übersichtlicher Grafiken und prägnanter Anleitungen kannst du diese
      problemlos unter dem aromatischen Banner von Cafearoma zu Hause zubereiten
      und genießen!
    </p>
  </div>

  <!-- Caffe /Expresso -->
  <div class="row">
    <div class="col-md-12">
      <h2>Caffe/Expresso</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5em">
    <div class="col-md-6">
      <p>
        Für dieses authentisch italienische Kaffeegetränk bedarf es eigentlich
        keiner ausführlichen Erklärung. Der Extrakt mit seiner
        charakteristischen Crema ist gewissermaßen das Markenzeichen, der
        Mittelpunkt, das Herzstück und die Grundlage vieler Kaffeevariationen.
        Die Zubereitung ist dabei denkbar einfach:
      </p>

      <ol>
        <li>Wärme die Tasse vor.</li>
        <li>Bereite den Espresso zu.</li>
      </ol>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/espresso-zubereitung.png"
        class="img-fluid"
        style="max-width: 500px; height: auto"
        alt="..."
      />
    </div>
  </div>

  <!-- ESPRESSO MACCHIATO -->
  <div class="row">
    <div class="col-md-12">
      <h2>Expresso Macciato</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5em">
    <div class="col-md-6">
      <p>
        Der Espresso Macchiato oder Caffè Macchiato ist ein Espresso, der durch
        eine elegante Schicht Milchschaum veredelt wird. Ähnlich wie beim Latte
        Macchiato bekommt der Espresso danach eine Art Fleckenmuster, zumindest
        in der deutschen Übersetzung.
      </p>

      <p style="margin-top: 1.5em">So geht's:</p>

      <ol>
        <li>Espresso zubereiten</li>
        <li>Milch aufschäumen</li>
        <li>
          Den Espresso mit einem Schuss Milchschaum (fester Microfoam) markieren
        </li>
      </ol>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/espresso-macchiato-zubereitung.png"
        class="img-fluid"
        style="max-width: 500px; height: auto"
        alt="..."
      />
    </div>
  </div>

  <!-- Cappucino -->
  <div class="row">
    <div class="col-md-12">
      <h2>Cappuccino</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5em">
    <div class="col-md-6">
      <p>
        Der Cappuccino, eine Kaffeespezialität, die gerne mit Italien in
        Verbindung gebracht wird, hat eigentlich seine Wurzeln in Österreich und
        ist sogar einem alten Klosterbruder namens Kapuziner zu verdanken. In
        Italien wurde dieser beliebte Schaumträger weiterentwickelt und
        perfektioniert.
      </p>

      <p style="margin-top: 1.5em">
        Für einen erstklassigen Cappuccino zu Hause benötigen Sie folgende
        Schritte:
      </p>
      <ol>
        <li>Espresso zubereiten</li>
        <li>Milch schäumen</li>
        <li>Kunstvolle Latte Art gießen</li>
      </ol>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/cappuccino-zubereitung.png"
        class="img-fluid"
        style="max-width: 500px; height: auto"
        alt="..."
      />
    </div>
  </div>
  <!-- Latte Machiato -->
  <div class="row">
    <div class="col-md-12">
      <h2>Latte Machiato</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5em">
    <div class="col-md-6">
      <p>
        Erfahre jetzt, wie du den idealen Latte Macchiato, vorzugsweise für
        Erwachsene, zubereiten kannst.
      </p>

      <ol>
        <li>Bereite den Espresso separat zu.</li>
        <li>
          Schäume die Milch nicht zu heiß auf, gieße sie ins Glas und warte 30
          Sekunden.
        </li>
        <li>Gieße den heißen Espresso langsam ein.</li>
      </ol>
      <p style="margin-top: 1.5em">
        Um sicherzustellen, dass sich die perfekte dreifache Schichtung ergibt,
        füge einen kleinen Schuss kalte Milch vor dem Espresso hinzu!
      </p>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/latte-macchiato.png"
        class="img-fluid"
        style="max-width: 500px; height: auto"
        alt="..."
      />
    </div>
  </div>

  <!-- Americano -->
  <div class="row">
    <div class="col-md-12">
      <h2>Americano</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5em">
    <div class="col-md-6">
      <p>
        Der Caffè Americano hat erst im 20. Jahrhundert seinen Platz in Italien
        gefunden. Wie viele andere Dinge in Europa ist dieser verlängerte
        doppelte Espresso ein Überbleibsel aus der Nachkriegszeit und entspricht
        einer Gewohnheit der amerikanischen Soldaten, die den italienischen
        Espresso als zu kräftig empfanden.
      </p>
      <p style="margin-top: 1.5em">
        Das genaue Rezept für den Caffè Americano ist nicht in Stein gemeißelt.
        Der doppelte Espresso kann entweder im Verhältnis 1:1 mit heißem Wasser
        aufgegossen werden oder im Verhältnis 1:3 mit maximal 180 ml heißem
        Wasser, oder sogar irgendwo dazwischen – ganz nach dem amerikanischen
        Motto der unbegrenzten Möglichkeiten. Auch bei der Wahl der Tasse hast
        du völlig freie Hand – Hauptsache, es läuft nichts über.
      </p>
      <p style="margin-top: 1.5em">
        Die Zubereitung folgt jedoch einer klaren Reihenfolge:
      </p>
      <ol>
        <li>Gieße heißes Wasser in die Tasse.</li>
        <li>Bereite den Espresso zu.</li>
      </ol>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/americano-zubereitung.png"
        class="img-fluid"
        style="max-width: 500px; height: auto"
        alt="..."
      />
    </div>
  </div>
  <!-- MAROCCHINO -->
  <div class="row">
    <div class="col-md-12">
      <h2>Marocchino</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5em">
    <div class="col-md-6">
      <p>
        Der Marocchino fügt sich nahtlos in das schokoladige Kaffeeerlebnis ein
        und setzt dem Ganzen die Krone auf. Denn er besticht nicht nur durch
        Kakaopulver, sondern ist auch von knackfrischer Schokolade umhüllt.
      </p>
      <p style="margin-top: 1.5em">
        Übrigens leitet sich der Name von Marokko ab, da die Farbe dem typischen
        Leder aus der Region ähnelt, das in den 1930er-Jahren zur Herstellung
        von Haarbändern verwendet wurde.
      </p>
      <p style="margin-top: 1.5em">
        Wie bereitet man diesen schokoladigen Kaffee mit der ansprechenden Farbe
        zu? Wir enthüllen es für dich!
      </p>
      <ol>
        <li>
          Geschmolzene Schokolade dünn an der Innenseite des Glases durch eine
          Schwenkbewegung verteilen.
        </li>
        <li>Espresso zubereiten und in das Glas gießen.</li>
        <li>Milch aufschäumen und über den Espresso geben.</li>
      </ol>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/marocchino-kaffee.png"
        class="img-fluid"
        style="max-width: 500px; height: auto"
        alt="..."
      />
    </div>
  </div>

  <!-- CAFFÈ CORRETTO -->
  <div class="row">
    <div class="col-md-12">
      <h2>Caffe Corretto</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5em">
    <div class="col-md-6">
      <p>
        Der Begriff "Correto" bedeutet übersetzt "korrigiert", und beim Caffè
        Corretto erfolgt diese "Korrektur" durch Zugabe von Alkohol, meistens
        Grappa. Die genaue Korrektur, die der Grappa vornimmt, bleibt wohl jedem
        selbst überlassen. Hier findest du alles, was du brauchst, um zu Hause
        deine eigenen Experimente durchzuführen..
      </p>

      <ol>
        <li>Espresso zubereiten</li>
        <li>Serviere 2cl Grappa separat</li>
      </ol>
    </div>
    <div class="col-md-5 offset-md-1">
      <img
        src="/images/caffe-coretto.png"
        class="img-fluid"
        style="max-width: 500px; height: auto"
        alt="..."
      />
    </div>
  </div>

  <div class="row" style="">
    <div class="col-md-12" style="margin-top: 5em">
      <h2>
        BELLA ITALIA - GENIESS DEN ITALIENISCHEN FLAIR GANZ ENTSPANNT ZU HAUSE,
        DANK CAFEAROMA POWER!
      </h2>
    </div>
  </div>

  <div class="row" style="margin-bottom: 5em">
    <p>
      Unsere italienischen Kaffeespezialitäten sind zwar vom Barista
      perfektioniert und bieten wahre Gaumenfreuden, aber ehrlich gesagt, zu
      Hause ist es doch am allerbesten! Wir bei CafeAroma teilen nicht nur
      köstlichen Kaffee, sondern auch unser Expertenwissen mit euch. Denn mal
      ganz offen gesagt: Frisch geröstet schmeckt auch daheim unwiderstehlich –
      alles dank unserer umfangreichen Ratgeber zu Kaffeespezialitäten aus
      Deutschland, Italien.
    </p>
  </div>
  <div class="row" style="font-size: smaller">
    Bildquellen: © al62 - stock.adobe.com, © neirfy - stock.adobe.com /
    rauwolf-coffee.at
  </div>
</div>
