<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CafeAroma</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

     <!-- Link zur Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <!-- Link zur Bootstrap JavaScript-Bibliothek (optional, abhängig von deinen Bedürfnissen) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'><link rel="stylesheet" href="./style.css">

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>
<body>
    <header>
        <img style="width: 170px; left: 25px; top: 25px;" class="position-absolute" alt="CafeAromaLogo" src="/images/Logo.png"/>

        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/cafe">CAFE</a></li>
                <li><a href="/shop">SHOP +</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
            </ul>
        </nav>
            <div class= „menu“>
            <input type="checkbox" id=" nav-check">
            <div class = "new-header"> ... </div>
            <div clas = "nav-btn">
                <label for="nav-check">
                    <span> 1 </span>
                    <span> 2 </span>
                    <span> 3 </span>
                </label>
            </div>
        </div>
    </div>

    </header>

    <main>
        <div class="content">
            <section class="content1">
                <div class="text">
                    <h1>
                        <span >THE BEST <br> </span>
                        <span class="italien"> ITALIEN <br> </span>
                        <span >COFFEE </span>
                    </h1>
                    
                    <p>Welcome to CafeAroma. We are <br> passionate about coffee and offer <br> you the finest coffee products of <br> the highest quality. Our company <br> was born from our love for the <br> bean, and we want to share this <br>passion with you.</p>
                    <div class="buttons"> 
                        <a href="/shop" class="buy-button">BUY MORE</a>
                        <a href="/viewmore" class="viewmore-button">VIEW MORE</a>
                    </div>
                </div>
                 <div class="imageExpresso">
                    <img style="width: 70%; margin-right: 100px;  top: 25px;" ,alt="Expresso" src="/images/expresso.png"/>
                </div>
                <div class= "text2">
                        <span class="textbrown">
                            We look forward to enhancing <br> your coffee experience. Browse <br> through our products, read our <br> menu, and feel free to contact <br> 
                            us if you have any questions.<br> Thank you for choosing <br>
                        </span> 
                        <h4><span class="cafearoma"> CafeAroma</span></h4>
                </div>  
            </section>
            <section class="content2">
                <div class= "text3">
                        <div class="flex-container">
                            <span class="butfirstcoffee">But first.. Cafe</span>
                                    <div>
                                        <img style="width: 4%; left: 120%px; bottom: -24%;" class="position-absolute" alt="LogoCute" src="/images/logoCute.png"/>
                                    </div>

                            </div>
                    <p>
                        Our range includes a wide selection of coffee beans from different regions of <br> 
                        the world, carefully roasted to preserve the full flavor and aroma. From classic <br> 
                        Arabica to exotic varieties, you will find coffee to suit every taste.<br> 
                        <br>
                        Our website not only provides the opportunity to order high-quality coffee but <br>
                        also offers informative articles and tips on all things coffee-related. We take <br> 
                        pride in our expertise and wish to share our knowledge with you.
                    </p>
                </div>
            

            
                        <div class="flex-container3">
                            <span class="coffeaestethic">What's your Cafe <br> aestethic? <br> </span>
                            
                                    
                            <div style="width: 220px; height: 170px;" class="pictures">
                                <img style="width: 170px; right: 52s0px;" class="position-absolute" alt="The sky above the ocean" src="/images/picleft.png"/>
                                <img style="width: 170px;  right:280px;" class="position-absolute" purpose="cloud-1" alt="A grayish-blue cloud" src="/images/picright.png"/>
                              </div>
                </section>
              
        </div>
    </main>
    <footer>
        &copy; 2023 CafeAroma. All rights reserved.
    </footer>
</body>
</html>
