<div class="container-fluid">
  <!-- Row 1 -->
  <div class="row" style="margin-top: 5em; margin-left: 5em">
    <div class="col-md-4">
      <div class="welcome-text">
        <h1>
          THE BEST <br />
          <div class="italien">ITALIAN</div>
          COFFEE
        </h1>
        <div class="text-brown">
          Willkommen bei CafeAroma. Wir sind leidenschaftlich für Kaffee und
          bieten Ihnen die feinsten Kaffeeprodukte von höchster Qualität an.
          Unser Unternehmen ist aus unserer Liebe zur Bohne entstanden, und wir
          möchten diese Leidenschaft mit Ihnen teilen.
        </div>
      </div>

      <div class="buttons" style="margin-top: 1em">
        <% if(req.me) { %>
        <a href="/shopping" class="brown-button">KAUFEN </a>
        <% } else { %>
        <a href="/login" class="brown-button">KAUFEN </a>
        <% } %>

        <a href="/cafe" class="brown-button">ZEIGE MEHR</a>
      </div>
    </div>

    <div class="col-md-5">
      <img
        class="img-fluid"
        alt="Expresso"
        src="/images/expresso.png"
        style="max-width: 100%; height: auto; width: auto"
      />
    </div>
    <!-- style="max-width: 100%; height: auto; width: auto" -->
    <!-- src="/images/expresso.png" -->
    <div
      class="col-md-3"
      style="padding-top: 3em; font-weight: 200; font-weight: bold"
    >
      <p class="text-brown">
        CafeAroma ist mehr als eine Marke; es ist ein Versprechen, die Fülle
        dieser Leidenschaft mit Ihnen zu teilen. Wir freuen uns darauf, Ihr
        Kaffeeerlebnis zu bereichern und Teil Ihrer Kaffee-Reise zu sein.
        Durchstöbern Sie unsere Produkte und unseren Shop und zögern Sie nicht,
        uns zu kontaktieren, wenn Sie Fragen haben. Vielen Dank, dass Sie sich
        für uns entschieden haben.
      </p>
      <p class="cafearoma">- CafeAroma</p>
    </div>
  </div>
  <!-- ##### NEEUUUUUU ##### -->
  <!-- <div class="row"> -->
  <!-- part1 the best coffe -->
  <!-- <div class="col-md-4">
        <h1>
          THE BEST <br />
          <div class="italien">ITALIAN</div>
          COFFEE
        </h1>
        <div class="text-brown">
          Willkommen bei CafeAroma. Wir sind leidenschaftlich für Kaffee und
          bieten Ihnen die feinsten Kaffeeprodukte von höchster Qualität an.
          Unser Unternehmen ist aus unserer Liebe zur Bohne entstanden, und wir
          möchten diese Leidenschaft mit Ihnen teilen.
        </div>
      </div> -->
  <!-- part 2 img -->
  <!-- <div class="col-md-5">
        <img
          alt="Expresso"
          src="/images/expresso.png"
          style="max-width: 100%; height: auto"
        />
      </div> -->
  <!-- part 3 cafeAroma-->
  <!-- <div class="col-md-3">
        <p
          class="text-brown"
          style="
            margin-top: 5em;
            margin-right: 2em;
            font-weight: 300;
            font-size: 20px;
          "
        >
          CafeAroma ist mehr als eine Marke; es ist ein Versprechen, die Fülle
          dieser Leidenschaft mit Ihnen zu teilen. Wir freuen uns darauf, Ihr
          Kaffeeerlebnis zu bereichern und Teil Ihrer Kaffee-Reise zu sein.
          Durchstöbern Sie unsere Produkte und unseren Shop und zögern Sie
          nicht, uns zu kontaktieren, wenn Sie Fragen haben. Vielen Dank, dass
          Sie sich für uns entschieden haben.
        </p>
        <p class="cafearoma">- CafeAroma</p>
      </div>
    </div> -->

  <!-- Row 2 -->
  <div class="row" style="margin-top: 10em">
    <div class="col-md-6" style="margin-left: 2em">
      <div class="Bold-Title">
        But first.. Cafe
        <img
          src="/images/logoCute.png"
          style="margin-left: 0.1em; margin-bottom: 1em"
        />
      </div>
      <div class="cafe-text" style="margin-top: -1em">
        Erkunden Sie verschiedene Kaffeezubereitungen, angefangen beim
        reichhaltigen und cremigen Cappuccino bis hin zum kräftigen und
        energetisierenden Macchiato. Wir glauben, dass das Verständnis für die
        Kunst der Kaffeezubereitung das gesamte Kaffeeerlebnis bereichert.
        Unsere Auswahl umfasst eine Vielzahl von Kaffeebohnen aus verschiedenen
        Regionen der Welt, sorgfältig geröstet, um das volle Aroma und den
        aromatischen Charakter zu bewahren. Dabei reicht das Spektrum vom
        zeitlosen Klassiker Arabica bis hin zur Faszination exotischer Sorten –
        gewährleistet wird somit ein Kaffee, der jedem Geschmack gerecht wird.
      </div>
    </div>
  </div>

  <div
    class="row justify-content-end"
    style="margin-top: 10em; margin-right: 5em"
  >
    <div class="col-md-8" style="margin-top: 10em">
      <div class="cafe-text">
        Unser Engagement geht über die Bereitstellung des feinsten Kaffees
        hinaus; unsere Website ist eine wertvolle Ressource mit
        aufschlussreichen Artikeln und Tipps zu allem, was mit Kaffee zu tun
        hat. Tauchen Sie ein in unsere Fachkenntnisse und zögern Sie nicht, uns
        bei Fragen zu kontaktieren. Wir sind stolz auf unser Fachwissen und
        möchten unser Wissen gerne mit Ihnen teilen.
      </div>
    </div>

    <div class="col-md-4">
      <div class="Bold-Title" style="text-align: center">
        What's your aestehtic?
      </div>

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active c-item">
            <img
              class="d-block w-100"
              src="/images/picLeft.png"
              alt="First slide"
            />
          </div>

          <div class="carousel-item c-item">
            <img
              class="d-block w-100"
              src="/images/picright.png"
              alt="second slide"
            />
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#hero-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#hero-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
