<h1>Cafe Shop</h1>

<div>
    <table class="table">
        <tbody>
            <% console.log("cafetypes Testt:", cafetypes); %>
            <% cafetypes.forEach(function(cafetype){ %>
                <tr>
                    <td colspan="3" class="h4">
                        <%= cafetype.name %> <BR>
                    </td>
                </tr>
                <% if (cafetype.products) { %>
                <% cafetype.products.forEach(function(shop){ %>
                    <tr>
                        <td class="h6">
                            <%= shop.name %> <BR>
                        </td>
                        <td class="h6">
                            <%= shop.price %> &euro;
                        </td>
                        <td>
                            <a class="badge badge-primary" href="/shoppingbasket/put/<%= shop.id %>">bestellen</a>
                        </td>
                    </tr>
                    <% }); %>
                    <% } %>
                <% }); %>
        </tbody>
    </table>
</div>
</div>