<!-- views/pages/shop/editProduct.ejs -->

<div class="container">
    <form action="/product/<%=product.id%>/update" method="post">
      <h1>Edit Product</h1>
      <div>
        <div class="form-group">
            <label class="col-form-label-lg">Name</label>
            <input type="text" class="form-control" maxlength="80" value="<%= product.name %>" name="name">
        </div>
        <div class="form-group">
            <label class="col-form-label-lg">Price</label>
            <input type="text" class="form-control" maxlength="8" value="<%= product.price %>" name="price">
        </div>
      </div>
      <a  href="/product/<%=product.id %>/uploadImageForm" class="btn btn-outline-dark">Upload picture</a>
    <button type="submit" class="btn btn-outline-dark" style="width: auto;">Update</button>
    </form>
  </div>
  