
<div class="container">
  <form action="/product" method="post">
      <h1>Create New Product</h1>
      <div class="form-group">
        <label class="col-form-label-lg">Name</label>
        <input type="text" class="form-control" maxlength="80" name="name">
      </div>  
      <div class="form-group">
      <label class="col-form-label-lg">Price</label>
      <input type="text" class="form-control" maxlength="8" name="price">
      </div>

    <div class="form-group" >
      <label class="col-form-label-lg">Cafetype (required)</label>
      <select id="cafetype" name="cafetype">
        <option value="" selected>select</option>
          <% for (let i = 0; i < cafetypes.length; i++) { %>
              <option value="<%= cafetypes[i].id %>"><%= cafetypes[i].name %></option>
            <% } %>
      </select>    
    </div>

    <button type="submit" class="brown-button" style="width: 10%">Add</button>
    </form>
</div>
  